/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

@media (max-width: 740px) {
  .full-page-intro {
    height: 1000px; } }

/* Half Page Carousel itself*/
.carousel {
  height: 50%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
  .carousel {
    height: 100%; } }

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.3); }

.top-nav-collapse {
  background-color: #212121; }

.btn-space {
    margin-left: 10px;
}

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #212121; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #616161; }

.input-field input[type=text]:focus + label{
  color: #fafafa;
}
.input-field input[type=text]:focus {
  border-bottom: 1px solid #fafafa;
  box-shadow: 0 1px 0 0 #fafafa;
}

.form-group:focus .form-control{
    background-image: linear-gradient(#000000, #000000), linear-gradient(#000000, #000000
      );
}

.form-group:focus .control-label{
    color: #000000 !important;
}
